.modal {
    min-width: 375px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.modal .close {
    position: absolute;
    right: 16px;
    color: #667d99;
    cursor: pointer;
}

.modal .close:hover {
    color: #f36322;
}

.modal .title h2 {
    text-align: center;
}

.modal .body {
    background: #e7edf3;
}